.side-nav .side-nav-list .list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--side-nav-list-item-height);
  border-bottom: 1px solid;
  position: relative;
  font-size: 1em;
  border-radius: 0px;
  margin-bottom: 0px;
}
.side-nav .side-nav-list .list-item span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.65em;
  display: var(--side-nav-list-item-display-label);
}
.side-nav .side-nav-list .list-item i {
  padding: var(--side-nav-list-item-icon-padding);
}

.slider .toolbar button {
  padding: 0px;
}
.slider .toolbar {
  font-size: 0.813em;
}
.slider .toolbar button {
  background-color: transparent;
  color: var(--app-color);
  width: 4.75em;
  height: 1.875em;
}

.slider-list-items {
  height: calc(100% - var(--bread-crumb-height));
  padding: var(--app-alt-padding);
  overflow-y: auto;
  overflow-x: hidden;
}

.slider-list-items .list-item {
  padding: var(--slider-list-items-padding);
  font-size: 0.82em;
}

.slider-list-items .list-item:hover {
  border-radius: var(--app-border-radius);
}
.slider-list-items .list-item.selected {
  border-radius: var(--app-border-radius);
  border-left-width: 0.4em;
  border-left-style: solid;
}

/* table grid */
.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.83em;
  cursor: pointer;
  height: 100%;
}

.flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(360deg);
}
