html {
  font-size: var(--app-font-size);
}

/* body forn size 16px  */
:root {
  /* nav-bar*/
  --nav-bar-height: 3.43em;

  /* bread-crumb */
  --bread-crumb-height: 2.5em;

  /* side-nav */
  --side-nav-width: 5em;
  --side-nav-list-item-height: 4.35em;
  --side-nav-list-item-icon-padding: 0.5em;
  --side-nav-slider-width: 18.72em;
  --side-nav-list-item-display-label: block;

  /* nav bar */
  --nav-bar-display-menu: block;

  /*slider */
  --slider-list-items-padding-right: 0.625em;
  --slider-list-items-padding: 0.5em;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--app-font-family);
  /* 16px */
  font-size: 0.45em;
  overflow: hidden;
}
/* change scroll bar in chrome for big screens only*/
::-ms-clear {
  display: none; /* removing [x] from MS inputs */
}
/* change scroll bar in chrome for big screens only*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  border: 1px solid #fff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  :root {
    --side-nav-list-item-display-label: none;
  }
}

/* | */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
/* |--> */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  :root {
    --side-nav-list-item-display-label: block;
  }
}

/* big landscape tablets, laptops, and desktops */

@media (min-width: 1025px) {
  :root {
    --side-nav-list-item-display-label: block;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1280px) {
}

.main-app {
  height: calc(100vh - var(--nav-bar-height));
  overflow: hidden;
}
.main-content {
  height: 100%;
  margin-left: var(--side-nav-width);
}

.content {
  height: calc(100% - var(--bread-crumb-height));
  padding: var(--app-alt-padding);
}
.nav-bar {
  width: 100%;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: var(--app-zindex);
}

.nav-bar .menu-icon {
  width: var(--side-nav-width);
  text-align: center;
  height: 100%;
  box-shadow: var(--app-box-shadow);
  display: var(--nav-bar-display-menu);
  position: relative;
}
.nav-bar .menu-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.nav-bar .user-info {
  padding-right: var(--app-alt-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .user-info i {
  padding-right: 0.5em;
}
.nav-bar .user-info span {
  font-weight: bold;
  font-size: 0.75em;
}
.side-nav {
  height: calc(100% - var(--nav-bar-height));
  width: var(--side-nav-width);
  position: absolute;
  transition: var(--app-transition);
  z-index: calc(var(--app-zindex) - 1);
  overflow-y: auto;
  overflow-x: hidden;
}

.side-nav-list .list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--side-nav-list-item-height);
  cursor: pointer;
  transition: var(--app-transition);
  border-bottom: 1px solid;
  position: relative;
}
.side-nav-list .list-item i {
  padding: var(--side-nav-list-item-icon-padding);
}
.side-nav-list .list-item span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6em;
  display: var(--side-nav-list-item-display-label);
}
.side-nav-list .list-item.selected {
  border-left-width: 0.3125em;
  border-left-style: solid;
}
.side-nav-slider {
  width: var(--side-nav-slider-width);
  height: calc(100% - var(--nav-bar-height));
  top: var(--nav-bar-height);
  position: absolute;
  left: calc((var(--side-nav-slider-width) + var(--side-nav-width)) * -1);
  z-index: calc(var(--app-zindex) - 2);
  transition: left 0.8s;
}
.side-nav-slider.slide-in {
  left: var(--side-nav-width);
}

/* list-item - slider-list */
.slider-list-items {
  height: calc(100% - var(--bread-crumb-height));
  padding: var(--app-alt-padding);
  overflow-y: auto;
  overflow-x: hidden;
}
.slider-list-items .list-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: var(--slider-list-items-padding);
  font-size: 0.82em;
}
.slider-list-items .list-item i {
  padding-right: var(--slider-list-items-padding-right);
}
/* table grid */
.action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.83em;
  cursor: pointer;
  color: red;
}

.flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
}
