html {
  font-size: var(--app-font-size);
}

:root {
  /* nav-bar */
  --nav-bar-height: 3.4375rem;

  /* bread-crumb */
  --bread-crumb-height: 3rem;

  /* side-nav */
  --side-nav-width: 5rem;
  --side-nav-list-item-height: 4.35em;
  --side-nav-list-item-icon-padding: 0.5rem;
  --side-nav-slider-width: 15.63rem;
  --side-nav-list-item-display-label: block;

  /* nav bar */
  --nav-bar-display-menu: block;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--app-font-family);
  overflow: hidden;
}
/* change scroll bar in chrome for big screens only*/
::-ms-clear {
  display: none; /* removing [x] from MS inputs */
}
/* change scroll bar in chrome for big screens only*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  border: 1px solid #fff;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  :root {
    --app-font-size: 8px;
    --side-nav-list-item-display-label: none;
  }
}

/* | */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --app-font-size: 12px;
  }
}
/* |--> */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  :root {
    --app-font-size: 14px;

    --side-nav-list-item-display-label: block;
  }
}

/* big landscape tablets, laptops, and desktops */

@media (min-width: 1025px) {
  :root {
    --app-font-size: 14px;
    --side-nav-list-item-display-label: block;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1280px) {
  :root {
    --app-font-size: 16px;
  }
}

.main-app {
  height: calc(100vh - var(--nav-bar-height));
  overflow: hidden;
}
.main-content {
  height: 100%;
  margin-left: var(--side-nav-width);
}
.main-content.studio {
  --bread-crumb-height: 0px;
}
.content {
  height: calc(100% - var(--bread-crumb-height));
  padding: var(--app-alt-padding);
  font-size: var(--app-content-font-size);
}
.nav-bar {
  width: 100%;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: var(--app-zindex);
}

.nav-bar .menu-icon {
  width: var(--side-nav-width);
  text-align: center;
  height: 100%;
  box-shadow: var(--app-box-shadow);
  display: var(--nav-bar-display-menu);
  position: relative;
}
.nav-bar .menu-icon i {
  font-size: 1.56rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-bar .user-info {
  padding-right: var(--app-alt-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .user-info i {
  padding-right: 0.5rem;
  font-size: 1.25rem;
}
.nav-bar .user-info span {
  font-weight: bold;
  font-size: 0.75rem;
}
.side-nav {
  height: calc(100% - var(--nav-bar-height));
  width: var(--side-nav-width);
  position: absolute;
  transition: var(--app-transition);
  z-index: calc(var(--app-zindex) - 1);
  overflow-y: auto;
  overflow-x: hidden;
  font-size: var(--app-side-nav-font-size);
}

.side-nav-list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--side-nav-list-item-height);
  cursor: pointer;
  transition: var(--app-transition);
  border-bottom: 1px solid;
  position: relative;
}
.side-nav-list-item i {
  padding: var(--side-nav-list-item-icon-padding);
}
.side-nav-list-item span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6em;
  display: var(--side-nav-list-item-display-label);
}
.side-nav-slider {
  width: var(--side-nav-slider-width);
  height: calc(100% - var(--nav-bar-height));
  top: var(--nav-bar-height);
  position: absolute;
  left: calc((var(--side-nav-slider-width) + var(--side-nav-width)) * -1);
  z-index: calc(var(--app-zindex) - 2);
  transition: left 0.8s;
}
.side-nav-slider.slide-in {
  left: var(--side-nav-width);
}

.side-nav-slider .toolbar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--app-alt-padding) - 14px);
  box-shadow: var(--app-box-shadow);
  height: var(--bread-crumb-height);
}
.side-nav-slider .toolbar-header button {
  background-color: transparent;
  color: var(--app-color);
  font-size: 0.75rem;
}
.side-nav-slider .toolbar-header button:hover {
  background-color: #f8f8f8;
  box-shadow: 1px 1px 4px var(--text-shadow-color);
}

/* table grid */
.action-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.83em;
  cursor: pointer;
  color: red;
}
.action-button i:hover {
  color: green;
}
.flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
}
