:root {
  /* nav-bar*/
  --nav-bar-height: 2.5rem;
  --nav-bar-left-menu-width: 5rem;

  /* side-nav */
  --side-nav-width: 5rem;
  --side-nav-list-item-height: 4.35em;
  --side-nav-list-item-icon-padding: 0.5em;
  --side-nav-slider-width: 18.72em;
  --side-nav-list-item-display-label: block;

  /*slider */
  --slider-list-items-padding-right: 0.625em;
  --slider-list-items-padding: 0.5em;
}
