:root {
  --app-modal-header-bg-color: #4a8bc2;
}
.rdg.data-grid {
  border: 0px;
  border-top: 1px solid #ddd;
  color: var(--app-color);
  font-size: 12px;
}
.rdg-row,
.rdg-header-row {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.rdg-cell {
  box-shadow: none !important;
}

.rdt_TableBody {
  background-color: red;
}
.rdg {
  height: inherit !important;
}
.modal-dialog .modal-header {
  background-color: var(--app-modal-header-bg-color);
  padding: 0.5rem 0.5rem;
  color: var(--app-body-alt-bg-color);
}
.modal-dialog .modal-header button {
  color: #fff;
  opacity: 1;
}
.modal-dialog .modal-header button:focus {
  outline: none;
}
.modal-dialog .modal-footer {
  background-color: #f8f8f8;
  padding: 0.5rem;
}
