:root {
  --app-border-radius: 5px;
  --app-zindex: 5;
  --app-pdding: 0px;
  --app-margin: 0px;
  --app-transition: 0.4s;
  --app-alt-padding: 0.56rem;
  --app-alt-margin: 0.56rem;
  --app-box-sizing: "box-border";
  --app-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
  /* fonts */
  --app-font-size: calc(1em + 1vw);
  --app-font-family: "Roboto", "Segoe UI", "sans-serif";

  /* color this may removed later on*/
  --app-color: #4a8bc2;
}
