@import "./defaults.css";
@import "./common.css";
@import "./custom.css";
@import "./site.css";
@import "./studio.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: var(--app-font-size);
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--app-font-family);
  /* 16px */
  font-size: 0.88em;
  overflow: hidden;
  height: 100%;
}
