@import "./defaults.css";
@import "./common.css";
@import "./components.css";
@import "./custom.css";
@import "./site.css";
@import "./studio.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: var(--app-font-size);
  height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--app-font-family);
  /* 16px */
  font-size: 0.88rem;
  overflow: hidden;
  height: 100vh;
}

/* change scroll bar in chrome for big screens only*/
::-ms-clear {
  display: none; /* removing [x] from MS inputs */
}
/* change scroll bar in chrome for big screens only*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 8px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  border: 1px solid #fff;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: var(--nav-bar-height) auto;
  height: 100vh;
}

@media (max-width: 480px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  :root {
    --side-nav-width: 0px;
    --app-font-size: 1.125rem;
  }
  .boxes {
    flex-direction: column;
  }
  /* .page-layout {
    overflow-y: auto;
  } */
}
@media (min-width: 800px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  :root {
    --side-nav-width: 0px;
    --app-font-size: 1.125rem;
  }
  .boxes {
    flex-direction: row;
  }
  /* .page-layout {
    overflow-y: auto;
  } */
}
/* | */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --side-nav-width: 0px;
    --app-font-size: 0.7rem;
  }
  body {
    background-color: red;
  }
}
/* |--> */
@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  :root {
    --app-font-size: 0.7rem;
  }
}
