@import "./defaults.css";
@import "./common.css";
@import "./custom.css";
@import "./site.css";
@import "./studio.css";

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  :root {
    --app-font-size: 1rem;
  }
  .side-nav-list-item span {
    display: none;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* @media (min-width: 481px) {
    
    :root {
      --side-nav-list-item-icon-font-size: 1.2em;
   
    }
    .side-nav-list-item span {
      display: block;
    }
  } */
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
  :root {
    --app-font-size: 14px;
  }
  .side-nav-list-item span {
    display: block;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  :root {
    --app-font-size: 14px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  :root {
    --app-font-size: 16px;
  }
  .side-nav-list-item span {
    display: block;
  }
}
