.bread-crumb {
  padding: var(--app-alt-padding);
  height: var(--bread-crumb-height);
}

.bread-crumb-sqaure i.selected {
  box-shadow: inset 1px 2px 7px #ccc;
  border-radius: var(--app-border-radius);
}

.bread-crumb .bread-crumb-sqaure i {
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.4ms;
}
