:root {
  --page-header-height: 2.81em;
  /* --page-header-max-height: 50px; */
  --box-height: 5em;
  --box-width: 12.5em;
  --box-max-width: 21.875em;
  --box-min-width: 6.25em;

  --text-shadow-color: #ccc;
  --border-color: #f0f0f0;
}

.page {
  height: 100%;
  border-radius: var(--app-border-radius);
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--app-alt-padding);
  border-bottom: 1px solid var(--border-color);
  height: var(--page-header-height);
  /* max-height: var(--page-header-max-height); */
  border-radius: var(--app-border-radius) var(--app-border-radius) 0 0;

  background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fdfdfd),
    to(#f4f4f4)
  );
  background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);

  text-transform: uppercase;
  font-weight: bold;
}
.page-header .page-title i {
  margin-right: 0.5em;
  font-size: 1.5em;
}
.page-header span.page-name {
  font-size: 1.25em;
  text-shadow: 2px 2px var(--text-shadow-color);
}
.page-header .page-action button {
  text-transform: uppercase;
  font-size: 0.875em;
  min-height: 2.187em;
}

.page-layout {
  padding: var(--app-alt-padding);
  height: calc(100% - var(--page-header-height));
}
.page-layout .custom-table {
  height: calc(100% - var(--app-alt-padding) - var(--box-height));
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--app-alt-padding);
  padding-bottom: var(--app-alt-padding);
}

.box {
  height: var(--box-height);
  border: 1px solid var(--border-color);
  border-radius: var(--app-border-radius);
  display: flex;
  flex: 1 1 6.25em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: var(--box-max-width);
  min-width: var(--box-min-width);
}
.box > div {
  padding: 0.8em;
  height: 100%;
  box-shadow: inset var(--app-box-shadow);
}
.box div.box-icon {
  border-right: 1px solid var(--border-color);
  position: relative;
  width: 6.25em;
}
.box div.box-info {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box div.box-info .box-label-info {
  font-size: inherit;
}
.box .box-user-num {
  text-shadow: 2px 2px var(--text-shadow-color);
  font-size: 4em;
}

.box div.box-icon i {
  font-size: 4em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
