:root {
  --page-header-height: 1.5em;
  --box-height: 5em;
  --box-width: 350px;
  --box-max-width: 21.875em;
  --box-min-width: 6.25em;

  --slider-toolbar-height: 2.5em;
}

.main-content.studio {
  --bread-crumb-height: 0px;
}
.side-nav-slider .toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  box-shadow: var(--app-box-shadow);
  height: var(--slider-toolbar-height);
  position: relative;
}
.side-nav-slider .toolbar button {
  background-color: transparent;
  color: var(--app-color);
  font-size: 0.813em;
  width: 3.75em;
  height: 1.875em;
}

.page {
  height: 100%;
  border-radius: var(--app-border-radius);
  background-color: var(--app-content-bg-color);
  box-shadow: var(--app-box-shadow);
  display: flex;
  flex-direction: column;
  font-size: 0.875em;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--app-alt-padding);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--app-border-color);
  height: var(--page-header-height);

  border-radius: var(--app-border-radius) var(--app-border-radius) 0 0;

  background-image: -moz-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fdfdfd),
    to(#f4f4f4)
  );
  background-image: -webkit-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: -o-linear-gradient(top, #fdfdfd, #f4f4f4);
  background-image: linear-gradient(to bottom, #fdfdfd, #f4f4f4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#fff4f4f4', GradientType=0);

  text-transform: uppercase;
  font-weight: bold;
}
.page-header .page-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-header .page-title i {
  margin-right: 0.5em;
  font-size: 1.5em;
}
.page-header span.page-name {
  font-size: 1.25em;
  text-shadow: var(--app-text-shadow);
}
.page-header .page-toolbar button {
  text-transform: uppercase;
  font-size: 0.875em;
  min-height: 2.187em;
}

.page-layout {
  padding: var(--app-alt-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.page-layout .custom-table {
  height: 100%;
  /* calc(100% - var(--app-alt-padding) - var(--box-height)); */
}
/* .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--app-alt-padding);
  padding-bottom: var(--app-alt-padding);
} */

.box {
  height: var(--box-height);
  border-width: 1px;
  border-style: solid;
  border-color: var(--app-border-color);
  border-radius: var(--app-border-radius);
  display: flex;
  flex: 1 1 6.25em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box > div {
  padding: 0.8em;
  height: 100%;
  box-shadow: inset var(--app-box-shadow);
}
.box div.box-icon {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--app-border-color);
  position: relative;
  width: 5.5em;
}
.box div.box-info {
  flex: 1;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box div.box-info .box-label-info {
  font-size: inherit;
}
.box .box-user-num {
  text-shadow: var(--app-text-shadow);
  font-size: 3em;
}

.box div.box-icon i {
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
