:root {
  --app-color: #4a8bc2;
  --app-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
  --app-bg-color: "#ffffff";
  --app-box-sizing: "box-border";
  --app-font-family: "sans-serif", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}
